.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  color: black;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
.footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.text-color {
  color : black;
}

.login-form {
  margin-left: 8%;
  padding-top: 8%;
}